.searchbar {
    width: 80%;
  }

  html,body{
    height: 100%;
  }

  body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: url(https://i.annihil.us/u/prod/marvel/i/mg/8/e0/52bdf830aa094.jpg) no-repeat center;
    /* height: 750px; */
    
    padding-top: 40px;
    padding-bottom: 40px;
    background-size: auto;
    background-attachment: fixed;
    background-color: rgba(0,0,0,0.85);
  }

  body.results{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background: url(https://terrigen-cdn-dev.marvel.com/content/prod/1x/a44.jpg) no-repeat center ;
    background-size:contain;
    background-attachment: fixed;
    background-color: rgba(0,0,0);
  }
  .icon{
    border: 2px;
    border-color: black;
    box-shadow: -1px 1px 10px 5px rgba(0,0,0,0.3);
    border-radius: 5px;
  }

  lining{
    border-right: 2px;
  }

  .error{
    color: yellow;
    font-weight: bold;
    
  }


  div.images {
    opacity: 0.83;
  }
  p{
    color: whitesmoke;
  }

  img{
    border-radius: 10px;
  }

  .wrapper{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(120px, auto);
  }

  h1{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .col-md-6 {
    margin-top: 0%;
  
    /* box-shadow: -1px 1px 60px 5px rgba(0,0,0,0.4); */
    background: rgba(255, 255, 255, 0.8);
    border-radius: 2.5px;
  }

  #error {
    font-size: 100px;
    color: rgb(127, 120, 230);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin-top:10%;
  }

  .bordertop {
    border-top: 10px rgb(77, 76, 90) solid;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  
  .borderbtm {
    border-bottom: 10px red solid;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  